@using Members
@using Members.Utils
@using OrchardCore.ContentManagement
@using Members.Payments

@{
    ContentItem contentItem = Model.ContentItem;

    var pledge = contentItem.AsInit<Pledge>();
    var name = pledge.PayerName.Text;
    var amount = pledge.Amount.Value;
    var note = pledge.Note?.Text;
    var refNumber = pledge.ReferenceNr.Text?.Trim();
    var cModel = string.IsNullOrEmpty(refNumber) ? "HR99" : "HR00";
    var address = "Vlaška 63";
}

@{
    Html.RenderPartial("_Header", T["Payment info"].Value);
}

<script asp-name="ugptheme-jQuery"></script>
<script asp-name="ugptheme-barcode"></script>

<script type="text/javascript">
    var name = "@Html.Raw(name)";
    var amount = "@(((int)(amount * 100)).ToString("D15"))";
    var note = "@Html.Raw(note)";

    function drawBarcode(amount2) {
        amount = amount2 || amount;
        const data = {
            header: 'HRVHUB30',
            currency: 'EUR',
            price: amount || '',
            name: name || '',
            address: '',
            cityAndPostalCode: '',
            recepient: 'UDRUGA GLAS PODUZETNIKA',
            recepientAddress: '@Html.Raw(StringUtils.StripDiacritics(address))',
            recepientCityAndPostalCode: '10000 Zagreb',
            IBAN: 'HR2324020061100970954',
            callNumber: '@cModel',
            RefNumber: "@refNumber",
            code: 'COST',
            description: '@Html.Raw(StringUtils.StripDiacritics(note))' || 'sec'
        }
        const code = Object.values(data).reduce((prev, curr) => `${prev}\n${curr}`, '')

        drawBarcodeToDiv("barcodeDiv",code.substr(1))
        var amountHelper = document.getElementById('amountHelper');
        if (amountHelper) {
            amountHelper.value = amount;
        }
        
    }


    $(function () {
        drawBarcode();
    });
</script>

<div class="row">
    <div class="container">
        <h4>Podaci za uplatu</h4>
        <p class="lead fs-6">
            <span>IBAN: HR2324020061100970954</span><br />
            <span>UDRUGA GLAS PODUZETNIKA</span><br />
            <span>@address</span>, Zagreb<br />
            <span>Iznos: @amount €</span><br />
            <span>model „@(cModel)“ i poziv na broj „@(refNumber)“.</span><br />
            <span>Opis plaćanja: @note </span>
        </p>
        <p class="lead fs-6 my-1 ">
            Možete skenirati 2D barkod iz Vašeg mobilnog bankarstva
        </p>
        <div id="barcodeDiv">
        </div>
        <a href="#" onclick="downloadBarcode('barcodeDiv',@amount); return false;" class="btn btn-primary">Preuzmi barkod</a>
        <p class="lead fs-6 my-1 ">
            Potrebno je 2-3 radna dana da bi uplata bila evidentirana u sustavu.
        </p>
    </div>
</div>
