@using Members.Controllers;
@using Members.Models;
@using System.IO;

@model ExportInfo

@{
    string allTimeDate = new DateTime(1801, 1, 1).ToString(); // use a format that works for your use case
}

<script asp-name="ugptheme-jQuery"></script>

<script>
    function captureFormValues() {
        var exportCounty = $("#exportCounty").val();
        var exportActivity = $("#exportActivity").val();
        
        // Set the captured values in the hidden input fields of the second form
        $("#exportCountyHidden").val(exportCounty);
        $("#exportActivityHidden").val(exportActivity);
    }
</script>

<div class="col-12">

    <div class="row">

        <div class="col">
            <h2>@T["Member Export"]</h2>
        </div>
    </div>


    <div class="row">

        <div class="col">
            <span>@T["Zadnji izvoz podataka:"]  @Model.LastSave?.ToString("d.M.yyyy")  </span>

        </div>
    </div>

    <hr />

    @using (Html.BeginForm("DownloadFile", "MembersExport", FormMethod.Post))
    {
        <div class="col-md-5 col-xs-12">
            <div class="form-group">
                <label for="exportCounty">@T["Odaberite županiju"]</label>
                <select class="form-control" id="exportCounty" name="exportCounty">
                    @foreach (var item in Model.CountyList)
                    {
                        @if (item.Name == "Sve županije")
                        {
                            <option value="@item.termId" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.termId">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <hr/>

            <div class="form-group">
                <label for="exportActivity">@T["Odaberite djelatnost"]</label>
                <select class="form-control" id="exportActivity" name="exportActivity" multiple="multiple">
                    @foreach (var item in Model.ActivityList)
                    {
                        @if (item.Name == "Sve djelatnosti")
                        {
                            <option value="@item.termId" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.termId">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <hr />

        <div class="col-12 d-flex flex-wrap justify-content-between">
            <button class="btn btn-secondary col-md-2 col-xs-12 m-2" type="submit" name="Date" value="@DateTime.Now.AddDays(-7).Date">Export novih članova u zadnjih  tjedan dana</button>
            <button class="btn btn-secondary col-md-2 col-xs-12 m-2" type="submit" name="Date" value="@DateTime.Now.AddMonths(-1).Date">Export novih članova u zadnjih  mjesec dana</button>
            <button class="btn btn-secondary col-md-2 col-xs-12 m-2" type="submit" name="Date" value="@DateTime.Now.AddMonths(-6).Date">Export novih članova u zadnjih 6 mjeseci</button>
            <button class="btn btn-secondary col-md-2 col-xs-12 m-2" type="submit" name="Date" value="@DateTime.Now.AddYears(-1).Date">Export novih članova u zadnjih godinu dana</button>
            <button class="btn btn-secondary col-md-2 col-xs-12 m-2" type="submit" name="Date" value="@DateTime.Now.AddMonths(-18).Date">Export novih članova u zadnjih 18 mjeseci</button>
        </div>
    }


    @{
        var filePath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "ExportMembers", "Members.csv");

        var fileExists = System.IO.File.Exists(filePath);
        var lastGeneratedDateTime = fileExists ? System.IO.File.GetLastWriteTime(filePath) : DateTime.MinValue;
    }

    <hr />

    <div class="border m-2 p-0 col-6">
        <div class ="p-2 m-2">
            <h5>Generirani file sa SVIM članovima.</h5>
            <span>
                Klik na refresh okida se generiranje novog file-a koji se izvršava u pozadini. 
            </span>
        </div>
        <div class="p-2 d-flex align-items-center ">

            @using (Html.BeginForm("TriggerGenerate", "MembersExport", FormMethod.Post, new { onsubmit = "captureFormValues();" }))
            {
                <input type="" id="exportCountyHidden" name="ExportCounty" value="" />
                <input type="" id="exportActivityHidden" name="ExportActivity" value="" />
                <button class="btn btn-secondary m-2" type="submit" name="Date" value="@allTimeDate"><i class="fa-solid fa-arrows-rotate"></i></button>
            }
            <input class="form-control" type="text" id="dateTimeField" readonly="" value="Zadnje generirano: @lastGeneratedDateTime.ToString("dd.MM.yyyy HH:mm")">
        </div>

        <div class="p-2 d-flex align-items-center ">
            @using (Html.BeginForm("DownloadMembersFile", "MembersExport", FormMethod.Post))
            {
                <input type="hidden" name="FilePath" value="@filePath" />
                <button class="btn btn-secondary m-2" type="submit">Download</button>
            }
        </div>
    </div>
    <hr />

    <div class="pt-4">

        <h5 class="mt-3">Upute kod uploada na WebPower</h5>
        <br />

        <span>Upload  CSV file-a na WebPower (dolje navedeni link)</span>
        <br />
        <br />

        <span>Dva <bold class="dt">obavezna</bold> koraka: </span>

        <br />
        <span> - odabrati Group : Subscribers </span>
        <br />

        <span> - odabrati Character set - postaviti <bold class="dt">International (utf-8)</bold> </span>
        <br />
        <br />

        <a target="_blank" href="https://glas-poduzetnika.webpower.eu/admin/?campaign=1&_page=/admin/dmdelivery/recipient/import/%3FTID%3D18%26DMDcid%3D1" class="elements"><span>Link to <bold>WebPower</bold></span></a>
    </div>

</div>
