@using Members.Core
@model ExportInfo

@{
    string allTimeDate = new DateTime(1801, 1, 1).ToString();
}

<div class="col-12">

    <div class="row">

        <div class="col">
            <h2>@T["Member Export"]</h2>
        </div>
    </div>


    <div class="row">

        <div class="col">
            <span>@T["Zadnji izvoz podataka:"]  @Model.LastSave?.ToString("d.M.yyyy")  </span>

        </div>
    </div>

    <hr />

    @using (Html.BeginForm("DownloadFile", "MembersExport", FormMethod.Post))
    {
        <div class="col-md-5 col-xs-12">
            <div class="form-group">
                <label for="exportCounty">@T["Odaberite županiju"]</label>
                <select class="form-control" id="exportCounty" name="exportCounty">
                    @foreach (var item in Model.CountyList)
                    {
                        @if (item.Name == "Sve županije")
                        {
                            <option value="@item.termId" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.termId">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <hr/>

            <div class="form-group">
                <label for="exportActivity">@T["Odaberite djelatnost"]</label>
                <select class="form-control" id="exportActivity" name="exportActivity" multiple="multiple">
                    @foreach (var item in Model.ActivityList)
                    {
                        @if (item.Name == "Sve djelatnosti")
                        {
                            <option value="@item.termId" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.termId">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <hr/>

            <div class="form-group">
                <label for="exportPeriod">@T["Odaberite period kada su postali članovi"]</label>
                <select class="form-control" id="exportPeriod" name="Date">
                    <option value="@DateTime.Now.AddDays(-7).Date" selected>@T["Zadnjih tjedan dana"]</option>
                    <option value="@DateTime.Now.AddMonths(-1).Date">@T["Zadnjih mjesec dana"]</option>
                    <option value="@DateTime.Now.AddMonths(-6).Date">@T["Zadnjih 6 mjeseci"]</option>
                    <option value="@DateTime.Now.AddYears(-1).Date">@T["Zadnjih godinu dana"]</option>
                    <option value="@DateTime.Now.AddMonths(-18).Date">@T["Zadnjih 18 mjeseci"]</option>
                    <option value="@allTimeDate">@T["Svi članovi"]</option>
                </select>
            </div>
            <hr/>

            <div class="form-group">
                <label>@T["Tip korisnika"]</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="includeNatural" name="IncludeNatural" value="true" checked />
                        <input type="hidden" name="IncludeNatural" value="false" />
                        <label class="form-check-label" for="includeNatural">@T["Fizičke osobe"]</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="includeLegal" name="IncludeLegal" value="true" checked />
                        <input type="hidden" name="IncludeLegal" value="false" />
                        <label class="form-check-label" for="includeLegal">@T["Pravne osobe"]</label>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="form-group">
                <label>@T["Broj zaposlenika"]</label>
                <div class="d-flex align-items-center">
                    <input type="number" class="form-control" id="minEmployees" name="MinEmployees" placeholder="@T["Min"]" min="0" style="max-width: 150px;" />
                    <span class="mx-2">-</span>
                    <input type="number" class="form-control" id="maxEmployees" name="MaxEmployees" placeholder="@T["Max"]" min="0" style="max-width: 150px;" />
                </div>
            </div>
        </div>
        <hr />

        <div class="col-12">
            <button class="btn btn-primary" type="submit">@T["Export"]</button>
        </div>
    }

    <hr />

    <div class="pt-4">

        <h5 class="mt-3">Upute kod uploada na WebPower</h5>
        <br />

        <span>Upload  CSV file-a na WebPower (dolje navedeni link)</span>
        <br />
        <br />

        <span>Dva <bold class="dt">obavezna</bold> koraka: </span>

        <br />
        <span> - odabrati Group : Subscribers </span>
        <br />

        <span> - odabrati Character set - postaviti <bold class="dt">International (utf-8)</bold> </span>
        <br />
        <br />

        <a target="_blank" href="https://glas-poduzetnika.webpower.eu/admin/?campaign=1&_page=/admin/dmdelivery/recipient/import/%3FTID%3D18%26DMDcid%3D1" class="elements"><span>Link to <bold>WebPower</bold></span></a>
    </div>

</div>
