@page
@model Members.Pages.MyProfileModel

@{
}


@{ Html.RenderPartial("_Header", "MOJI PODACI"); }

<h2>
	@T["PODACI O FIZIČKOJ OSOBI"]
</h2>
<hr>
<p class="alert alert-warning">@T["Podaci obojani u zeleno se ne mogu vlastoručno mijenjati zbog zaštite registra članova. Ako se pojavljuju netočni podaci, ili su neka polja prazna molimo Vas da prijavite"] <a href="https://forms.monday.com/forms/ca65c242f34010c168238f563956f990" target="_blank">@T["OVDJE"]</a></p>

<table class="table table-striped">
	<tbody>
		<tr class="table-info">
			<td><b>@T["Ime"]</b></td>
			<td>@Model.MemberName</td>
		</tr>
		<tr class="table-info">
			<td><b>@T["Prezime"]</b></td>
			<td>@Model.MemberSurname</td>
		</tr>
		<tr class="table-info">
			<td><b>@T["Datum rođenja"]</b></td>
			<td>@Model.MemberBirthDate</td>
		</tr>
		<tr class="table-info">
			<td><b>@T["Adresa"]</b></td>
			<td>@Model.MemberAddress</td>
		</tr>
		<tr class="table-info">
			<td><b>@T["Grad/Opcina"]</b></td>
			<td>@Model.MemberCity</td>
		</tr>
		<tr class="table-info">
			<td><b>@T["Županija"]</b></td>
			<td>@Model.MemberCounty</td>
		</tr>
		<tr class="table-info">
			<td><b>@T["E-mail"]</b></td>
			<td>@Model.MemberEmail</td>
		</tr>
		<tr class="table-info">
			<td><b>@T["Telefon"]</b></td>
			<td>@Model.MemberEmail</td>
		</tr>
		<tr class="table-info">
			<td><b>@T["Spol"]</b></td>
			<td>@Model.MemberSex</td>
		</tr>
	</tbody>
</table>
<div class="change-pass">
	<h2>
		@T["IZMJENA LOZINKE"]
	</h2>
	<hr>
	<a href="/password" class="btn btn-warning text-decoration-none">@T["Izmjenite vašu lozinku"]</a>
</div>
<div class="my-companies mt-5">
	<h2>
		@T["MOJE TVRTKE"]
	</h2>
	<hr>
	<div class="list-group-flush">
		<a href="@Url.Page("./MyCompany")" class="list-group-item d-flex justify-content-between align-items-center">
			Tvrtka 1
			<span class="badge badge-primary badge-pill">14</span>
		</a>
		<a href="@Url.Page("./MyCompany")" class="list-group-item d-flex justify-content-between align-items-center">
			Tvrtka 2
			<span class="badge badge-primary badge-pill">2</span>
		</a>
		<a href="@Url.Page("./MyCompany")" class="list-group-item d-flex justify-content-between align-items-center">
			Tvrtka 3
			<span class="badge badge-primary badge-pill">1</span>
		</a>
	</div>

</div>


