@page
@model Members.Pages.OfferModel
@using OrchardCore.ContentManagement
@using Members.Core

@{ 

    var offer = Model.OfferContentItem.As<Offer>();
    var company = Model.CompanyContentItem.As<Company>();

    Html.RenderPartial("_Header", @T["Offer"].Value);

    <blockquote>
        <!-- Content here -->
        <h2 class="text-center">@offer.ContentItem.DisplayText</h2>
        @if (!offer.FeaturedImage.Paths.Equals(Newtonsoft.Json.JsonToken.Null))
        {
            <div class="icon-box">
                <img src="../media/@offer.FeaturedImage.Paths.FirstOrDefault()" class="w-100 d-block mx-auto d-block" alt="">
            </div>
        }
        else
        {
            <img src="https://www.glaspoduzetnika.hr/assets/images/glaspoduzetnika-logo.png" class="rounded mx-auto d-block" alt="">
        }
        <div class="fs-5">
            <small>
                @offer.LongDescription.Text
            </small>
        </div>

        @if (offer.YoutubeVideoId.Text != "")
        {
            <div class="ratio ratio-16x9 my-4">
                <iframe class="embed-responsive-item" src="@(String.Format("https://www.youtube.com/embed/{0}", offer.YoutubeVideoId.Text))"></iframe>
            </div>
        }

        <ul class="list-group d-inline-flex p-2 bd-highlight fs-6">



            @if (!company.Logo.Paths.Equals(Newtonsoft.Json.JsonToken.Null))
            {
                <li class="list-group-item p-0 border-0">
                    <div class="icon-box">
                        <img src="../media/@company.Logo.Paths.FirstOrDefault()" class="w-100 d-block" alt="">
                    </div>
                </li>
            }

            @if (company.ContentItem.DisplayText != null)
            {
                <li class="list-group-item p-0 border-0 py-2">
                    <div class="">@T["CompanyName"]:</div>
                    <div class="">@company.ContentItem.DisplayText</div>
                </li>
            }

            @if (offer.ContactPerson.Text != null)
            {
                <li class="list-group-item p-0 border-0 py-4">
                    <div class="text-uppercase ">@T["Contact Person"]:</div>
                    <div class="">@offer.ContactPerson.Text</div>
                </li>
            }

            @if (offer.Address.Text != null)
            {
                <li class="list-group-item p-0 border-0">
                    <div class="icon-box"><i class="fas fa-map-marker"></i><span class="px-2">@offer.Address.Text</span></div>
                </li>
            }

            @if (offer.Web.Url != null)
            {
                <li class="list-group-item p-0 border-0">
                        <div class="icon-box"><i class="fas fa-phone-square-alt"></i><span class="px-2">@offer.Phone.Text</span></div>
                </li>
            }

            @if (offer.Web.Url != null)
            {
                <li class="list-group-item p-0 border-0">
                    <a href="@offer.Web.Url">
                        <div class="icon-box"><i class="fas fa-globe"></i><span class="px-2">@T["Web"]</span></div>
                    </a>
                </li>
            }

            @if (offer.Instagram.Url != null)
            {
                <li class="list-group-item p-0 border-0">
                    <a href="@offer.Instagram.Url">
                        <div class="icon-box"><i class="fab fa-instagram-square"></i><span class="px-2">@T["Instagram"]</span></div>
                    </a>
                </li>
            }

            @if (offer.Facebook.Url != null)
            {
                <li class="list-group-item p-0 border-0">
                    <a href="@offer.Facebook.Url">
                        <div class="icon-box"><i class="fab fa-facebook-square"></i><span class="px-2">@T["Facebook"]</span></div>
                    </a>
                </li>
            }

            @if (offer.LinkedIn.Url != null)
            {
                <li class="list-group-item p-0 border-0">
                    <a href="@offer.LinkedIn.Url">
                        <div class="icon-box"><i class="fab fa-linkedin"></i><span class="px-2">@T["LinkedIn"]</span></div>
                    </a>
                </li>
            }
        </ul>
    </blockquote>
}