@page
@model Members.Pages.OfferModel

@{ 

    var offer = Model.OfferContentItem;
    var company = Model.CompanyContentItem;

    Html.RenderPartial("_Header", @T["Offer"].Value);

    <blockquote>
        <!-- Content here -->
        <h2 class="text-center">@offer.Content.Offer.Title.Text</h2>
        @if (!offer.Content.Offer.FeaturedImage.Paths.Equals(Newtonsoft.Json.JsonToken.Null))
        {
            <div class="icon-box">
                <img src="../media/@offer.Content.Offer.FeaturedImage.Paths[0]" class="w-100 d-block mx-auto d-block" alt="">
            </div>
        }
        else
        {
            <img src="https://www.glaspoduzetnika.hr/assets/images/glaspoduzetnika-logo.png" class="rounded mx-auto d-block" alt="">
        }
        <div class="fs-5">
            <small>
                @offer.Content.Offer.LongDescription.Text
            </small>
        </div>

        @if (offer.Content.Offer.YoutubeVideoId.Text != "")
        {
            <div class="ratio ratio-16x9 my-4">
                <iframe class="embed-responsive-item" src="@(String.Format("https://www.youtube.com/embed/{0}", offer.Content.Offer.YoutubeVideoId.Text))"></iframe>
            </div>
        }

        <ul class="list-group d-inline-flex p-2 bd-highlight fs-6">



            @if (!company.Content.Company.Logo.Paths.Equals(Newtonsoft.Json.JsonToken.Null))
            {
                <li class="list-group-item p-0 border-0">
                    <div class="icon-box">
                        <img src="../media/@company.Content.Company.Logo.Paths[0]" class="w-100 d-block" alt="">
                    </div>
                </li>
            }

            @if (company.DisplayText != null)
            {
                <li class="list-group-item p-0 border-0 py-2">
                    <div class="">@T["CompanyName"]:</div>
                    <div class="">@company.DisplayText</div>
                </li>
            }

            @if (offer.Content.Offer.ContactPerson.Text != null)
            {
                <li class="list-group-item p-0 border-0 py-4">
                    <div class="text-uppercase ">@T["Contact Person"]:</div>
                    <div class="">@offer.Content.Offer.ContactPerson.Text</div>
                </li>
            }

            @if (offer.Content.Offer.Address.Text != null)
            {
                <li class="list-group-item p-0 border-0">
                    <div class="icon-box"><i class="fas fa-map-marker"></i><span class="px-2">@offer.Content.Offer.Address.Text</span></div>
                </li>
            }

            @if (offer.Content.Offer.Web.Url != null)
            {
                <li class="list-group-item p-0 border-0">
                        <div class="icon-box"><i class="fas fa-phone-square-alt"></i><span class="px-2">@offer.Content.Offer.Phone.Text</span></div>
                </li>
            }

            @if (offer.Content.Offer.Web.Url != null)
            {
                <li class="list-group-item p-0 border-0">
                    <a href="@offer.Content.Offer.Web.Url">
                        <div class="icon-box"><i class="fas fa-globe"></i><span class="px-2">@T["Web"]</span></div>
                    </a>
                </li>
            }

            @if (offer.Content.Offer.Instagram.Url != null)
            {
                <li class="list-group-item p-0 border-0">
                    <a href="@offer.Content.Offer.Instagram.Url">
                        <div class="icon-box"><i class="fab fa-instagram-square"></i><span class="px-2">@T["Instagram"]</span></div>
                    </a>
                </li>
            }

            @if (offer.Content.Offer.Facebook.Url != null)
            {
                <li class="list-group-item p-0 border-0">
                    <a href="@offer.Content.Offer.Facebook.Url">
                        <div class="icon-box"><i class="fab fa-facebook-square"></i><span class="px-2">@T["Facebook"]</span></div>
                    </a>
                </li>
            }

            @if (offer.Content.Offer.LinkedIn.Url != null)
            {
                <li class="list-group-item p-0 border-0">
                    <a href="@offer.Content.Offer.LinkedIn.Url">
                        <div class="icon-box"><i class="fab fa-linkedin"></i><span class="px-2">@T["LinkedIn"]</span></div>
                    </a>
                </li>
            }
        </ul>
    </blockquote>
}