@page
@model Members.Pages.RegistrationModel 

@using OrchardCore.Mvc.Utilities

@{
}
@{
    ViewLayout = "Layout__Login";
}
@{
    Html.RenderPartial("_Header", "Registracija");
}

<head>
    <style>
        .person{
            display : none
        }
    </style>

    <script asp-name="ugptheme-jQuery"></script>

    <script>
        $(document).on('change', '#AccountType', function () {
            if ($(this).val() == "legal") {
                $('.person').hide();
                $('.company').show();
            }
            else {
                $('.person').show();
                $('.company').hide();
            }
        });
    </script>

</head>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>


       <div class="form-group">
            <label asp-for="Email" for="Email">@T["Email"]</label>
            <div class="col-md-12">
                <input asp-for="Email" class="form-control" id="Email" >
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password" for="Password">@T["Password"]</label>
            <div class="col-md-12">
                <input asp-for="Password" type="password" class="form-control" id="Password">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label">@T["Confirm password"]</label>
            <div class="col-md-12">
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword">
            </div>
        </div>

    
        <div class="form-group">
            <label asp-for="OIB" for="OIB">@T["OIB"]</label>
            <div class="col-md-12">
                <input asp-for="OIB" class="form-control" id="OIB">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Name" for="Name">@T["Name"]</label>
            <div class="col-md-12">
                <input asp-for="Name" class="form-control" id="Name">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Surname" for="Surname">@T["Surname"]</label>
            <div class="col-md-12">
                <input asp-for="Surname" class="form-control" id="Surname">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsActive" for="IsActive">@T["Are you an active member of this association?"]</label>
            <div class="col-sm-12">
                <select asp-for="IsActive" class="form-select" id="IsActive">
                    @foreach (var item in Model.ActiveMemberTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Address" for="Address">@T["Address"]</label>
            <div class="col-md-12">
                <input asp-for="Address" class="form-control" id="Address">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="City" for="City">@T["City"]</label>
            <div class="col-md-12">
                <input asp-for="City" class="form-control" id="City">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="County" for="County" class="col-sm-2 control-label">@T["County"]</label>
            <div class="col-md-12">
                <select asp-for="County" class="form-select " id="County">
                    @foreach (var item in Model.CountyTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Phone" for="Phone">@T["Phone number"]</label>
            <div class="col-md-12">
                <input asp-for="Phone" type="tel" class="form-control" id="Phone">
            </div>
        </div>
         
        <div class="form-group">
            <label asp-for="SkillsKnowledge" for="SkillsKnowledge">@T["Skills and knowledge"]</label>
            <div class="col-md-12">
                <textarea class="form-control" id="textAreaExample" rows="3"></textarea>
            </div>
        </div>

  
    <div class="form-group">
        <label asp-for="AccountType" for="AccountType" class="col-sm-2 control-label">@T["Account Type"]</label>
        <div class="col-md-12">
            <select asp-for="AccountType" id="AccountType" class="form-select" id="AccountType">
                <option value="legal">@T["Register Legal Entity"]</option>
                <option value="person">@T["Register As A Natural Entity"]</option>
            </select>
        </div>
    </div>

    <div class="person">
        <div class="form-group">
            <label asp-for="DateBirth" for="DateBirth">@T["Date of birth"]</label>
            <div class="col-md-12">
                <input asp-for="DateBirth" type="date" class="form-control" id="DateBirth">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Gender" for="Gender" class="col-sm-2 control-label">@T["Gender"]</label>
            <div class="col-sm-12">
                <select asp-for="Gender" class="form-select" id="Gender">
                    @foreach (var item in Model.GenderTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div> 
    </div>

     <div class="company">

        <div class="form-group">
            <label asp-for="CompanyRepresentative" for="CompanyRepresentative">@T["Authorized person for representation"]</label>
            <input asp-for="CompanyRepresentative" class="form-control" id="CompanyRepresentative" />
        </div>

        <div class="form-group">
            <label asp-for="Function" for="Function">@T["Your function in the company"]</label>
            <div class="col-md-12">
                <select asp-for="Function" class="form-select " id="Function">
                    @foreach (var item in Model.FunctionTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="EmployeeNumber" for="EmployeeNumber">@T["Number of employees"]</label>
            <div class="col-md-12">
                <input asp-for="EmployeeNumber" class="form-control" id="EmployeeNumber" type="number">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Trade" for="Trade" >@T["Company trade"]</label>
            <div class="col-md-12">
                <select asp-for="Trade" class="form-select " id="Trade">
                    @foreach (var item in Model.TradeTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="OrganisationType" for="OrganisationType">@T["Organisation type"]</label>
            <div class="col-md-12">
                <select asp-for="OrganisationType" class="form-select " id="OrganisationType">
                    @foreach (var item in Model.OrganisationTypeTerms)
                        {
                            <option value="@item.ContentItemId">@item.DisplayText</option>
                        }
                    </select>
            </div>
        </div>    

        <div class="form-group">
            <label asp-for="Turnover" for="Turnover">@T["Turnover in 2019"]</label>
            <div class="col-md-12">
                <input asp-for="Turnover" class="form-control" id="Turnover" type="number">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="AssociatesNumber" for="AssociatesNumber">@T["Number of permanent associates"]</label>
            <div class="col-md-12">
                <input asp-for="AssociatesNumber" class="form-control" id="AssociatesNumber" type="number">
            </div>
        </div>

        <div class="form-group">
            <label for = "CompanyLogo">@T["Company logo"]</label>
                <div class="col-md-12">
                    <input id="CompanyLogo" type="file" />
                </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9 mt-3">
            <button type="submit" class="btn btn-primary">@T["Register"]</button>
        </div>
    </div>
   
</form>
