@page
@model Members.Pages.RegistrationModel 

@using OrchardCore.Mvc.Utilities

@{
}
@{
    ViewLayout = "Layout__Login";
}
@{
    Html.RenderPartial("_Header", "Registracija");
}

<head>
    <style>
        .person{
            display : none
        }
    </style>

    <script asp-name="ugptheme-jQuery"></script>

    <script>
        $(document).on('change', '#AccType', function () {
            if ($(this).val() == "legal") {
                $('.person').hide();
                $('.company').show();
            }
            else {
                $('.person').show();
                $('.company').hide();
            }
        });
    </script>

</head>

<form> 
    <div class="form-group">
        <label asp-for="Email" for="Email">@T["Email"]</label>
        <div class="col-md-12">
            <input asp-for="Email" type="email" class="form-control" id="Email" >
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Passwd" for="Passwd">@T["Password"]</label>
        <div class="col-md-12">
            <input asp-for="Passwd" type="password" class="form-control" id="Passwd">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPasswd" class="control-label">@T["Confirm password"]</label>
        <div class="col-md-12">
            <input asp-for="ConfirmPasswd" type="password" class="form-control" id="Passwd">
        </div>
    </div>
  
    <div class="form-group">
        <label asp-for="AccType" for="AccType" class="col-sm-2 control-label">@T["Account Type"]</label>
        <div class="col-md-12">
            <select asp-for="AccType" id ="AccType" class="form-select" id="AccType">                
                <option value="legal">@T["Register Legal Entity"]</option>
                <option value="person">@T["Register As A Natural Entity"]</option>
            </select>
        </div>
    </div>

    <div class="person">
        <div class="form-group">
            <label asp-for="OIB" for="OIB">@T["OIB"]</label>
            <div class="col-md-12">
                <input asp-for="OIB" class="form-control" id="OIB">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="NameP" for="NameP">@T["Name"]</label>
            <div class="col-md-12">
                <input asp-for="NameP" class="form-control" id="NameP">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Surname" for="Surname">@T["Surname"]</label>
            <div class="col-md-12">
                <input asp-for="Surname" class="form-control" id="Surname">
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="IsActive" for="IsActive">@T["Are you an active member of this association?"]</label>
            <div class="col-sm-12">
                <select asp-for="IsActive" class="form-select" id="IsActive">
                    @foreach (var item in Model.AktivanČlanTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
             <label asp-for="AddressP" for="AddressP">@T["Address"]</label>
             <div class="col-md-12">
                   <input asp-for="AddressP" class="form-control" id="AddressP">
             </div>
         </div>

         <div class="form-group">
            <label asp-for="CityP" for="CityP">@T["City"]</label>
            <div class="col-md-12">
                <input asp-for="CityP" class="form-control" id="CityP">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CountyP" for="CountyP" class="col-sm-2 control-label">@T["County"]</label>
            <div class="col-md-12">
                <select asp-for="CountyP" class="form-select " id="CountyP">
                    @foreach (var item in Model.ZupanijaTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
             <label asp-for="Phone" for="Phone">@T["Phone number"]</label>
             <div class="col-md-12">
                    <input asp-for="Phone" type="tel" class="form-control" id="Phone">
             </div>
        </div>


        <div class="form-group">
            <label asp-for="DateBirth" for="DateBirth">@T["Date of birth"]</label>
            <div class="col-md-12">
                <input asp-for="DateBirth" type="date" class="form-control" id="DateBirth">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Gender" for="Gender" class="col-sm-2 control-label">@T["Gender"]</label>
            <div class="col-sm-12">
                <select asp-for="Gender" class="form-select" id="Gender">
                    @foreach (var item in Model.SpolTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SkillsKnowledge" for="SkillsKnowledge">@T["Skills and knowledge"]</label>
            <div class="col-md-12">
                <textarea class="form-control" id="textAreaExample" rows="3"></textarea>
            </div>
        </div>

    </div>

     <div class="company">
        <div class="form-group">
            <label asp-for="NameC" for="NameC">@T["Company name"]</label>
            <div class="col-md-12">
                <input asp-for="NameC" class="form-control" id="NameC">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="AddressC" for="AddressC">@T["Company address"]</label>
            <div class="col-md-12">
                  <input asp-for="AddressC" class="form-control" id="AddressC">
            </div>
        </div>
        
        <div class="form-group">
             <label asp-for="CityC" for="CityC">@T["City"]</label>
             <div class="col-md-12">
                    <input asp-for="CityC" class="form-control" id="CityC">
             </div>
        </div>
        
        <div class="form-group">
            <label asp-for="CountyC" for="CountyC" class="col-sm-2 control-label">@T["County"]</label>
            <div class="col-md-12">
                <select asp-for="CountyC" class="form-select " id="CountyC">
                    @foreach (var item in Model.ZupanijaTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CompanyRepresentative" for="CompanyRepresentative">@T["Authorized person for representation"]</label>
            <input asp-for="CompanyRepresentative" class="form-control" id="CompanyRepresentative" />
        </div>

        <div class="form-group">
            <label asp-for="OrgType" for="OrgType">@T["Your position in the company"]</label>
            <div class="col-md-12">
                <select asp-for="CountyC" class="form-select " id="CountyC">
                    @foreach (var item in Model.FunkcijaTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="EmployeeNum" for="EmployeeNum">@T["Number of employees"]</label>
            <div class="col-md-12">
                <input asp-for="EmployeeNum" class="form-control" id="EmployeeNum" type="number">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Trade" for="Trade" >@T["Company trade"]</label>
            <div class="col-md-12">
                <select asp-for="Trade" class="form-select " id="Trade">
                    @foreach (var item in Model.DjelatnostTerms)
                    {
                        <option value="@item.ContentItemId">@item.DisplayText</option>
                    }
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="OrgType" for="OrgType">@T["Organisation type"]</label>
            <div class="col-md-12">
                    <select asp-for="CountyC" class="form-select " id="CountyC">
                        @foreach (var item in Model.VrstaOrganizacijaTerms)
                        {
                            <option value="@item.ContentItemId">@item.DisplayText</option>
                        }
                    </select>
            </div>
        </div>    

        <div class="form-group">
            <label asp-for="Turnover" for="Turnover">@T["Turnover in 2019"]</label>
            <div class="col-md-12">
                <input asp-for="Turnover" class="form-control" id="Turnover" type="number">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="AssociatesNum" for="AssociatesNum">@T["Number of permanent associates"]</label>
            <div class="col-md-12">
                <input asp-for="AssociatesNum" class="form-control" id="AssociatesNum" type="number">
            </div>
        </div>

        <div class="form-group">
            <label for = "CompanyLogo">@T["Company logo"]</label>
                <div class="col-md-12">
                    <input id="CompanyLogo" type="file" />
                </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9 mt-3">
            <button type="submit" class="btn btn-primary">@T["Register"]</button>
        </div>
    </div>
   
</form>
