@page
@model Members.Pages.TransparencyModel

@{ Html.RenderPartial("_Header", @T["Transparentnost"].Value); }
<h2 class="section-heading mt-0 mb-2">Članstvo</h2>
<div class="top-features-section">
	<div class="row">
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.MemberCount.ToString("n0") </h2>
			<p>članova</p>
		</div>
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.CompanyCount.ToString("n0") </h2>
			<p>pravnih osoba</p>
		</div>
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.PersonCount.ToString("n0") </h2>
			<p>fizičkih osoba</p>
		</div>
	</div>
</div>
<div class="top-features-section">
	<div class="row">
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.Revenue.ToString("n2") </h2>
			<p>kn ukupno prihod članova</p>
		</div>
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.Employees.ToString("n0") </h2>
			<p>zaposlenika</p>
		</div>
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.Associates.ToString("n0") </h2>
			<p>vanjskih suradnika</p>
		</div>
	</div>
</div>
<h2 class="section-heading mb-2">Prihodi udruge</h2>
<div class="top-features-section">
	<div class="row">
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.TotalIncome.ToString("n2") </h2>
			<p>kn ukupno prihod</p>
		</div>
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.PayIns.ToString("n0") </h2>
			<p>Broj uplata</p>
		</div>
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.AverageIn.ToString("n2") </h2>
			<p>kn prosječna uplata</p>
		</div>
	</div>
</div>
<h2 class="section-heading mb-2">Rashodi udruge</h2>
<div class="top-features-section">
	<div class="row">
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.TotalExpense.ToString("n2") </h2>
			<p>kn ukupno rashoda</p>
		</div>
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.PayOuts.ToString("n0") </h2>
			<p>Broj isplata</p>
		</div>
		<div class="col-sm-4 col-xs-12 top-features">
			<h2>@Model.AverageOut.ToString("n2") </h2>
			<p>kn prosječna isplata</p>
		</div>
	</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Datum</th>
			<th scope="col">Iznos uplata (kn)</th>
			<th scope="col">Broj uplata</th>
			<th scope="col">Iznos isplata (kn)</th>
			<th scope="col">Broj isplata</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var paym in Model.PaymentsByDay)
		{
			<tr>
				<th scope="row">@paym.Date.Value.ToString("dd.MM.yy.")</th>
				<td>@paym.PayIn.ToString("n2")</td>
				<td>@paym.CountIn</td>
				<td>@paym.PayOut.ToString("n2")</td>
				<td>@paym.CountOut</td>
			</tr>
		}
	</tbody>
</table>
