
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle p-1" type="button" id="culturePicker" data-bs-toggle="dropdown" aria-expanded="false">
        @Model.CurrentCulture.DisplayName
    </button>
    <ul class="dropdown-menu p-0 w-100" aria-labelledby="culturePicker" style="min-width: 100%;">
        @foreach (var culture in Model.SupportedCultures)
        {
            if (culture.Name != Model.CurrentCulture.Name)
            {
                <a asp-route="RedirectToLocalizedContent"
                   asp-route-area="OrchardCore.ContentLocalization"
                   asp-route-targetCulture="@culture.Name"
                   asp-route-contentItemUrl="@Context.Request.Path.Value"
                   asp-route-queryStringValue="@Context.Request.QueryString.Value"
                   class="dropdown-item p-1 text-center">@culture.DisplayName</a>
            }
        }

    </ul>
</div>