@using OrchardCore.Admin.Models
@using OrchardCore.DisplayManagement.ModelBinding
@inject IDisplayManager<Navbar> DisplayManager
@inject IUpdateModelAccessor UpdateModelAccessor
@{
    var adminSettings = Site.As<AdminSettings>();
    // Navbar is pre-rendered to allow resource injection.
    var navbar = await DisplayAsync(await DisplayManager.BuildDisplayAsync(UpdateModelAccessor.ModelUpdater));
 }

<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <link type="image/x-icon" rel="shortcut icon" href="~/UgpTheme/assets/favicon.ico">
    <style asp-name="font-awesome" version="5" at="Head"></style>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <style asp-name="ugptheme"></style>
    <style asp-name="ugptheme-bootstrap-oc" version="1"></style>
    <script asp-name="ugptheme" at="Foot"></script>

    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
    @await RenderSectionAsync("HeadMeta", required: false)
</head>
<body dir="@Orchard.CultureDir()">
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="~/">
                <img src="~/UgpTheme/assets/img/header-logo.png" alt="glaspoduzetnika logo" class="logo-img">
            </a>
            <div class="btn-group d-lg-none">
                <a href="/doniraj" class="btn btn-success btn-sm">@T["Donate"]</a>
                <a href="/uclani-se" class="btn btn-danger btn-sm">@T["Sign In"]</a>
            </div>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" data-bs-parent="#mainNav" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <partial name="MainMenu" />

                <partial name="LoginMenu" />
                @navbar
            </div>
            <div class="btn-group d-none d-lg-flex">
                <a href="/doniraj" class="btn btn-success btn-sm">@T["Donate"]</a>
                <a href="/uclani-se" class="btn btn-danger btn-sm">@T["Sign In"]</a>
            </div>

        </div>


    </nav>

    <script>
        var myCollapsible = document.getElementById('navbar')
        myCollapsible.addEventListener('show.bs.collapse', function () {
            document.getElementById('mainNav').classList.add('navbar-shown');
        })
        myCollapsible.addEventListener('hidden.bs.collapse', function () {
            document.getElementById('mainNav').classList.remove('navbar-shown');
        })
    </script>

    @await RenderSectionAsync("Header", required: false)
    @await RenderSectionAsync("Login", required: false)

    <div class="container px-4 px-lg-5 mb-4">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @await RenderSectionAsync("Messages", required: false)
                @await RenderBodyAsync()
            </div>
        </div>
    </div>

    @if (IsSectionDefined("Footer"))
    {
        <footer>
            <div class="container">
                @await RenderSectionAsync("Footer", required: false)
            </div>
        </footer>}
    <resources type="FootScript" />
</body>
</html>
